<div>
    <h3>Add new Media</h3>
  
    
    <form #frm="ngForm" ngForm (ngSubmit)="upload(frm.value)" >
     
      <div class="row">
        <div class="col"><label for="">Enter Media Title</label></div>
       
        <div class="col"><input type="text" name="mytitle"  ngModel /></div>
      </div>
      <div class="row">
        <div class="col"><label for="">Enter media Description</label></div>
        <div class="col"><input type="text" name="mydesc" ngModel /></div>
      </div><div class="row">
        <div class="col"><label for="">Enter media tags</label></div>
        <div class="col"><input type="text" name="mytag" ngModel /></div>
      </div>
      <div class="row">
        <div class="col"><input type="submit" value="upload"/></div>
      </div>
  
    </form>
  
    <h2>Title : {{title}}</h2>
    <h2>Description : {{desc}}</h2>
    <h2>Tags: {{tag}}</h2>
  
  </div>