<div class="container mt-4">
<div class="row">
  <aside class="col-sm-2 mr-10">
  <section>
  <div>
  <div class="dropdown">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
  Upload Media
  </button>
  <div class="dropdown-menu">
   <a class="dropdown-item" href="Media.html">Single Media Upload</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="Multimedia.html">MultiMedia Upload</a>
  </div>
 </div>
 </section>
 </aside>
 </div>
</div>

    <div class=container >
     <div class="col-sm-9 mb-5">
      <div class="row justify-content-center ml-5">
      <form>
      <h2>Single Media</h2>
      <div class="form group">
      <label for="Browse">Browse</label>
      <input type="file" name="pic" accept="image/* ">
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" name="upload-button" class="btn btn-success btn-sm">Upload</button>
      </div>
       <div class="form group">
          <label for="Title">Title</label>
          <input type="text" class="form-control" id="Title">
        </div>
        <div class="Description">
         <label for="Description">Description</label>
           <input type="text" class="form-control" id="Description">
         </div>
         <div class="form group">
            <label for="Tags">Tags</label>
            <input type="text" class="form-control" id="Tags">
          </div>
          <div class="form group">
             <label for="Effects">Effects</label>
             <div class="form group" >
              <button type="button" class="btn btn-info -sm ">Sepia </button>
              <button type="button" class="btn btn-info">Grey</button>
              <button type="button" class="btn btn-info">Brightness</button>
              <button type="button" class="btn btn-info">Contrast</button>
            </div>
           </div>
         </div>
        </div>
    </div>
    </form>
    
    
