<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


<bean id="fortuneServiceId" class="com.cts.services.ProfessionalFortune"/>
	
	
	
	<!-- Decide which object to expose... 
		class : Object of which class to create
		id: exposing that object with what name
	<bean id="msgService" class="com.cts.training.spring.services.EmailService"/>
	-->
	<bean id="msgService" class="com.cts.services.IMessageService">
			<!-- Constructor  based DI 
				<constructor-arg ref="fortuneServiceId"/>
			-->
			<!-- Setter based DI 
				auto calls : setFortuneService()
			 -->
			<property name="fortuneService" ref="fortuneServiceId"/>
	</bean>
	</beans>