<div class="container">
    <div class="col-sm-3">
        <div class="row justify-content-center mr-5">
            <input type="button" class="btn btn-info lg mt-2"value="SingleMedia"(click)="singlemedia()">
            <input type="button" class="btn btn-info lg mt-2"value="MultiMedia">      
      </div>
    </div>
  <div class=container>
    <div class="col-sm-9">
    <div class="row justify-content-center ml-5">
      <form >
        <h3>Multi Media</h3><br/>
        <div class="form group">
          <label for="Browse">Browse &nbsp;</label>
          <input type="file" name="pic" accept="image/* ">
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" name="upload-button" class="btn btn-success btn-sm">Upload</button>
        </div>
         <div class="form group row">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title">
              </div>
          <div class="form group row">
           <label for="Description">Description</label>
             <input type="text" class="form-control" id="Description">
           </div>
           <div class="form group row">
              <label for="Tags">Tags</label>
              <input type="text" class="form-control" id="Tags">
            </div><br/>
          <div class="form group row">
           <label for="Effects">Effects</label>&nbsp;
             <div>
              <button type="button" class="btn btn-info ">Sepia </button>&nbsp;
              <button type="button" class="btn btn-info">Grey</button>&nbsp;
              <button type="button" class="btn btn-info">Brightness</button>&nbsp;
              <button type="button" class="btn btn-info">Contrast</button>&nbsp;
            </div>
           </div>
  <hr>
  
    <div class="form group row">
      <label for="Browse">Browse</label>
      <input type="file" name="pic" accept="image/* ">
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" name="upload-button" class="btn btn-success btn-sm">Upload</button>
    </div>
     <div class="form group row">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title">
          </div>
      <div class="form group row">
       <label for="Description">Description</label>
         <input type="text" class="form-control" id="Description">
       </div>
       <div class="form group row">
          <label for="Tags">Tags</label>
          <input type="text" class="form-control" id="Tags">
        </div>
      <div class="form group row"><br/>
       <label for="Effects">Effects</label>&nbsp;
         <div>
          <button type="button" class="btn btn-info ">Sepia </button>&nbsp;
          <button type="button" class="btn btn-info">Grey</button>&nbsp;
          <button type="button" class="btn btn-info">Brightness</button>&nbsp;
          <button type="button" class="btn btn-info">Contrast</button>&nbsp;
        </div>
       </div>
       <hr>
  
         <div class="form group row">
           <label for="Browse">Browse</label>
           <input type="file" name="pic" accept="image/* ">
         </div>
         <div class="d-flex justify-content-end">
           <button type="button" name="upload-button" class="btn btn-success btn-sm">Upload</button>
         </div>
          <div class="form group row">
             <label for="Title">Title</label>
             <input type="text" class="form-control" id="Title">
               </div>
           <div class="form group row">
            <label for="Description">Description</label>
              <input type="text" class="form-control" id="Description">
            </div>
            <div class="form group row">
               <label for="Tags">Tags</label>
               <input type="text" class="form-control" id="Tags">
             </div>
           <div class="form group row"><br/>
            <label for="Effects">Effects</label>&nbsp;
              <div>
               <button type="button" class="btn btn-info ">Sepia </button>&nbsp;
               <button type="button" class="btn btn-info">Grey</button>&nbsp;
               <button type="button" class="btn btn-info">Brightness</button>&nbsp;
               <button type="button" class="btn btn-info">Contrast</button>&nbsp;
             </div>
            </div>
  
  </form>
  </div>
  </div>
  </div>
  
