<div class=container >

<div class="col-sm-6 mb-5">
<div class="d-flex justify-content-center ml-4">
<h3>Register here</h3>
</div>
</div>

<div class="col-sm-6 mb-5">
<div class="d-flex justify-content-center ml-4">

<form>
  <div class="row">
    <div class="col">
    <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
    <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
<div class="row">
  <div class="col"><label for="">Enter Your Email</label></div>
  <div class="col">
  <input type="email" name="email"  [formControl]="" />
  </div>
  </div>
<br/>
     <!--  
      <br/>
      <div class="row">
        <div class="col"><label for="">Enter Username</label></div>
        <div class="col">
          <input type="text" name="fname"  [formControl]="" />
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col"><label for="">Enter Password</label></div>
        <div class="col">
          <input type="password" name="pass"  [formControl]="" />
         </div>
      </div>
      <br/>
      <div class="row">
        <div class="col"><label for="">Confirm-password</label></div>
        <div class="col">
          <input type="password" name="cpass"  [formControl]="" />
        </div>
      </div>
      <br/>
     <div class="row">
        <div class="col"><label for="">Upload your profile picture</label></div>
        <div class="col">
    <input type="file" name="pic" accept="image/*" [formControl]="myFormGroup.controls[]"/></div>
    <button type="submit"  name="upload-button" class="btn btn-success btn-sm">Upload</button> 
        </div>
 
    <br/>
    <div class="row">
    <div class="col">
    <input type="submit" name="signup-button" class= "btn btn-primary btn-sm" value="Sign-Up">
    <input type="reset" name="reset-buetton" class="btn btn-secondary" value="Reset"> 
    </div>
</div> -->
    </form>
  </div>
</div>
</div>