<p>navigation works!</p>
<div class="col-sm-6">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
              <li class="nav-item">
                  <a href="" class="nav-link text-light">Upload-Media</a>
              </li>
              <li class="nav-item">
                  <a href="" class="nav-link text-light">MyMedia</a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link text-light">Follower/Followers</a>
              </li>
          </ul>
      </nav>
</div>