.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
  }
  img{
     
      width: 100px;
      height: 100px;
  }
  #profile{
     
    width: 150px;
    height: 150px;
}
  